/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
/* end nav bar */

/* id home*/
#first {
  text-align: center;
  color: white;
  margin: 5vw;
}
/* end id home */
body, html {
  height: 100%;
}
/* parallax class */
.parallax {
  /* The image used */
  background-image: url('https://wallpaperbro.com/img/109380.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end parallax class */

/*column layout for about */
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 3vw;
}

/* Left and right column */
.column.side {
  width: 35%;
}

/* Middle column */
.column.middle {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/* end column layout*/


/* aboutme id */
#aboutme{
	text-align: center;
    color: purple;
}
/* end aboutme id */
/* describe id*/
#describe{
	float:right;
    margin-left: 40vw;
	text-align: left;
    color: gold;
}

/* end describe id*/
/* profile */
#profile{
	float:left;
    margin-left:3vw;
    margin-right:15px;
    width:170px;
    height:170px;
}
#right{
    margin-left:1vw;
    margin-right:4vw;
}
/* end profile */
/* download button */
.button1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 34vw;
  margin-bottom: 2vw;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: teal;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* end download button */
/* contact  */
#contactme{
	margin: 10vw;
	text-align: center;
	color: silver;
}
#icon{
	font-size:4vw;
    color:blue;
	padding:3vw;
}
.iformat{
	text-align: center;
}

/* end contact  */
