  /* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #001826;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fffcfc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #59C9A5;
}

.active {
  background-color: #001826;
}
/* end nav bar */

/* background colors */
.backg_columbiablue{ /* glitter */
	background-color: #E7ECEF;
}
.backg_cyan{ /* another blue */
	background-color: #002033;
}
.backg_zomp{
	background-color: #39A07C;
}
.backg_prussian{
	background-color: #0F394F;
}
.backg_seashell{
	background-color: #FFF9F9; /* seashell : FFE8E8 */
}

/* end background colors */

body, html {
  height: 100%;
}
/* parallax class */
.parallax {
  /* The image used */
  background-image: url('https://github.com/navya-rao/navya-rao.github.io/blob/master/images/blue_home.jpg?raw=true');
  opacity: 0.8;


  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* end parallax class */

/* id home*/
#first {
  text-align: center;
  color: #00131E;
  margin-top: 0;
  padding: 4vw;
  margin-bottom: 0;
  opacity: 1;
}
/* end id home */
/*column layout for about */
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 1vw;
}

/* Left and right column */
.column.side {
  width: 45%;
}

/* Middle column */
.column.middle {
	width: 55%;
	color: #002033;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 80%;
  }
}
/* end column layout*/


/* aboutme id */
#aboutme{
	margin-top: 0;
	margin-bottom: 0;
	padding: 4vw;
	text-align: center;
	font-size: 32px;
    	color: #002033;
}
/* end aboutme id */
/* profile */
#profile{
	float:left;
    	margin-left: 8vw;
    	margin-right: 3vw;
	margin-bottom: 0;
    	width:18vw;
    	height:18vw;
}
#right{
    margin-left:1vw;
    margin-right:4vw;
}
#describe{
	font-size: 3vw;
	margin-top: -1.5vw;
}
/* end profile */
/* download button */
.button1 {
  background-color: #002033;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1:hover {
  background-color: #59C9A5;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* end download button */
/* contact  */
#contactme{
	margin-top: 0;
	padding: 3vw;
	text-align: center;
	color: #E7ECEF;
	font-size: 3vw;
}
#icon{
	font-size:4vw;
    	color:#B7D5D4;
	padding:3vw;
}
.iformat{
	text-align: center;
}

/* end contact  */
